<script setup lang="ts">
import Card from 'primevue/card'
import Listbox from 'primevue/listbox'
import Button from 'primevue/button'
import FileUpload, {FileUploadUploaderEvent} from 'primevue/fileupload'

import {Ref, ref, computed} from 'vue'

import {decode} from "./lib/decoder.ts";

const sections: Ref<Map<string, string>> = ref(new Map())

const selectedSection = ref(null)
const selectableSections = computed(() => {
  return Array.from(sections.value.keys()).sort()
})

const onUpload = async (event: FileUploadUploaderEvent) => {
  const file = (event.files as File[])[0]
  const reader = new FileReader()
  reader.readAsText(file)
  reader.onloadend = () => {
    sections.value = decode(reader.result as string)
  }
}
</script>

<template>
  <div class="flex grid custom-gutter m-auto grid-nogutter scroll-container" style="max-width: 1400px">
    <div class="col-2">
      <Card>
        <template #title>File</template>
        <template #content>
          <FileUpload auto customUpload @uploader="onUpload" :multiple="false">
            <template #header="{ chooseCallback }">
              <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
                <div class="flex gap-2">
                  <Button @click="chooseCallback()" icon="pi pi-plus" rounded outlined></Button>
                </div>
              </div>
            </template>
            <template #empty>
              <p>Drag and drop files here.</p>
            </template>
          </FileUpload>
        </template>
      </Card>
    </div>
    <div class="col-2 flex-1">
      <Card>
        <template #title>Sections</template>
        <template #content>
          <Listbox v-model="selectedSection" :options="selectableSections" filter class="w-full md:w-14rem"/>
        </template>
      </Card>
    </div>
    <div class="col-8">
      <Card>
        <template #content>
          <highlightjs v-if="!!selectedSection" class="code" language='javascript'
                       :code="sections.get(selectedSection || '') || ''"></highlightjs>
          <p v-else>No section selected.</p>
        </template>
      </Card>
    </div>
  </div>
</template>

<style>
html, body {
  margin: 0;
  height: 100vh;
  background-color: #121212;
  overflow-y: hidden;
}
</style>

<style scoped>
.custom-gutter > [class*=col-] {
  padding: .25rem;
}

.scroll-container > div {
  overflow-y: auto;
  max-height: 100vh;
}

.code {
  white-space: pre-wrap;
  font-size: .8rem;
  padding: unset;
  margin: 0;
}

.code :deep(.hljs) {
  background-color: transparent !important;
  padding: unset;
}

.p-listbox {
  width: unset !important;
  border: unset;
}

.p-listbox :deep(.p-listbox-header) {
  padding: unset;
  margin-bottom: .5rem;
}

.p-listbox :deep(.p-listbox-list) {
  padding: unset;
}

.p-listbox :deep(.p-listbox-list .p-listbox-item) {
  padding: 0.5rem 0.5rem;
}

</style>
